body {
    background-color: lightblue;
    font-family: Arial;
}

form {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
}

input, select {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}

button {
    padding: 8px 15px;
    margin-top: 10px;
}